header {
    padding-top: 2rem;
    background-color: #4b6454;
    color: white;
    text-align: center;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Tahoma;
    margin: 0;
    padding: 0;
    background-color: #f1f0ed;
}

nav {
    background-color: #ddd;
    padding: 10px 0;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
}

header h1 {
    margin: 0;
}

main {
    flex: 1 0 auto;
    margin: 0 auto;
    max-width: 70%;
}

footer {
    flex-shrink: 0;
    background-color: #333;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 3rem;
}

table tr:nth-child(even) {
    background: #8f8f8f;
}

.delete_button {
    padding: 5px 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 2rem;
}

.delete_button:hover {
    background-color: #cc0000;
}

pre {
    display: inline;
}