@font-face {
    font-family: "XKCD";
    src: url(xkcd-script.ttf) format("truetype");
}


body {
    font-family: "XKCD", Verdana, Tahoma;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #ddd;
    padding: 10px 0;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
}

main {
    margin: 0 auto;
    max-width: 70%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}