<!DOCTYPE html>
<html>

<head>
    <title>HTMX Workshop</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" media="print"
        onload="this.media='all'">

</head>

<body>
    <header>
        <h1>Knowit employee registry</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/quote">Quote</a>
            <a href="/registration">Registration</a>
            <a href="/employees">Employees</a>
        </nav>
    </header>

    <main class="content">

        {% block content %}
        {% endblock %}

    </main>

    <footer>
        <p>© 2023 Knowit</p>
    </footer>
</body>

</html>