{% extends "base.html" %}

{% block content %}
<h2>Employees <span id="counter">({{ number_of_employees }})</span></h2>
<form action="/employees" method="GET">
    <input hx-trigger="keyup changed delay:0.2s" hx-get="/employees" hx-select="#employee-table"
        hx-target="#employee-table" type="text" name="q" placeholder="Search employees by name" hx-select-oob="#counter"
        value="{{ query or '' }}">
    <button type="submit">Search</button>
</form>

<table id="employee-table">
    <tr>
        <th>Name</th>
        <th>Year of birth</th>
        <th>Job</th>
    </tr>

    {% for employee in employees %}
    {% if loop.last and next_page %}
    <tr hx-trigger="revealed" hx-get="{{next_page}}" hx-select="tr:not(:first-child)" hx-swap="afterend">
        {% else %}
    <tr>
        {% endif %}
        <td>{{ employee.name }}</td>
        <td>{{ employee.year_of_birth }}</td>
        <td>{{ employee.job }}</td>
        <td><a href="/employees/{{ employee.id }}">Edit 🖊</a></td>
        <td><button class="delete_button" onclick="deleteUser('{{ employee.id }}')">Delete</button></td>
    </tr>
    {% endfor %}
</table>

{% if next_page %}
<a href="{{next_page}}">Next Page</a>
{% endif %}

{# TODO: delete this javascript #}
<script>
    function deleteUser(id) {
        const element = event.target;
        const tableRow = element.parentElement.parentElement;

        fetch(`/employees/${id}`, { method: 'DELETE' })
            .then((data) => {
                tableRow.remove();
            })

    }
</script>

{% endblock %}