{% extends "base.html" %}

{% block content %}
<h2>Employees ({{ number_of_employees }})</h2>
<form action="/employees" method="GET">
    <input type="text" name="q" placeholder="Search employees by name" value="{{ query or '' }}">
    <button type="submit">Search</button>
</form>


<table>
    <tr>
        <th>Name</th>
        <th>Year of birth</th>
        <th>Job</th>
    </tr>

    {% for employee in employees %}
    <tr>
        <td>{{ employee.name }}</td>
        <td>{{ employee.year_of_birth }}</td>
        <td>{{ employee.job }}</td>
        <td><a href="/employees/{{ employee.id }}">Edit 🖊</a></td>
        <td><button class="delete_button" onclick="deleteUser('{{ employee.id }}')">Delete</button></td>
    </tr>
    {% endfor %}
</table>

{% if next_page %}
<a href="{{next_page}}">Next Page</a>
{% endif %}

{# TODO: delete this javascript #}
<script>
    function deleteUser(id) {
        const element = event.target;
        const tableRow = element.parentElement.parentElement;

        fetch(`/employees/${id}`, { method: 'DELETE' })
            .then((data) => {
                tableRow.remove();
            })

    }
</script>

{% endblock %}